:root {
    --primary-color: #133626;
    --secondary-color: #FFFFFF;
    --tertiary-color: #1E2329;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-bar {
    width: 100%;
    height: 100px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.icons a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: large;
}

.login-container {
    width: 400px;
    height: 400px;
    background-color: var(--secondary-color);
    padding: 25px;
    border: 1px solid black;
    margin: 100px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    width: 1fr;
    height: 25vh;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    padding: 20px;
}