.signup {
  display: flex;
  flex-direction: row;
}

input {
  background-color: beige;
  border-radius: 5px;
}

label {
  font-family: Arial;
  color: brown;
  font-weight: bold;
}

body {
  background-color: beige;
}